
#vid-overlay{
  position: absolute;
  top: 0;
  padding-top: 20px;
  background: rgba(0,0,0,0.5);
  z-index: 999;
  height: 100%;
  transition: all 0.6s;
  opacity: 0;
}

#vid-overlay p {
  font-size: 18px;
  color: rgb(254, 254, 254);
  line-height: 2.696;
  text-align: center;
}
#vid-overlay p.or {
  padding: 0;
  font-size: 16px;
}

#vid-overlay a{
    font-family: SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif !important;
    font-size: 12px;
    text-transform: uppercase;
    line-height: 3;
    letter-spacing: 8px;
    border: 1px solid white;
    padding: 18px 35px;
    transition: all 0.3s;
}

#vid-overlay a:not(.end):hover{
  background: white;
  color:black;
}

#vid-overlay .videoThumb a{
  border:none !important;
}

#vid-overlay .videoThumb{
  margin-top: -30px;
}

.video-react .video-react-big-play-button{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.video-react-volume-menu-button-vertical .video-react-menu{
  display: none !important;
}

.cc-button{
  text-indent: -9999px;
  opacity: 0.4;
  transition: opacity 0.2s;
}

.cc-button:hover, .cc-button.active{
  opacity: 1;
}

.sb-button{
  text-indent: -9999px;
  opacity: 0.4;
  transition: opacity 0.2s;
  display: block;
}

.sb-button:hover, .sb-button.active{
  opacity: 1;
}
.sbhide{
  display: none;
}

.sbmenu{
  position: absolute;
  top: -57px;
  right: 0px;
  background: rgba(43, 51, 63, 0.7)
}
.sbmenu li a{
  width: 100px;
  padding: 8px;
  display: block;
  font-size: 12px;
 
}
.sbmenu li a:not(.default){
  opacity: 0.4;
}
.sbmenu li a:not(.default):before{
  content: '\E8FB';
  visibility: hidden;
}
.sbmenu li a.default:before{
  content: '\E8FB';
  position: relative;
  left: -9px;
  top: 1px;
}

.videoComponent .social{
  display: block;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #0000ff;
  text-indent: -9999px;
}

@media (max-width: 790px){

  .videoComponent .opt-content{
    position: static;
    transform: initial;
  }
  
  #vid-overlay{
    position: static;
    height: auto;
    overflow: hidden;
    padding-bottom: 20px;
  }

  #vid-overlay p {
    padding: 0 !important;
    padding-bottom: 20px !important;
    font-size: 14px;
  }

  #vid-overlay a{
    width:99%;
    display: block;
    margin: 0px auto;
  }

  #vid-overlay p.or {
    padding: 10px 0 !important;
  }

  
}